<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Fetchwell" />
    <meta property='og:image' content="https://media.giphy.com/media/3RkK6JQyX4XEIDTkXj/giphy.gif"/>
    <meta property="og:description"
      content="A fullstack clone of Madewell e-commerce site"
    />
    <meta property="og:url"
      content="https://fetchwell.herokuapp.com/#/"
    />
    <title>Fetchwell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
